body {
  background-color: rgb(227, 250, 216);
}

header {
  margin-top: 10rem;
}

main div {
  width: 40%;
}

#btn-storia {
  border-radius: 0px;
  border-top-left-radius: 5px;
}

#btn-altitudine {
  border-radius: 0px;
  border-top-right-radius: 5px;
}

.activ {
  background-color: rgb(43, 137, 0);
  color: white;
}
